streamlit

langchain
langchain-community
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint-sqlite

langchain-huggingface
sentence-transformers

faiss-cpu

pypdf

duckduckgo-search

openai

python-dotenv

requests

torch 
torchvision